--- READ ME ---
This platform token is a temporary token created for the current Dynatrace Environment ({{ dynatrace_environment_url }}) with permissions to support Dynatrace training scenarios. It will be deactivated and deleted at the end of this training event.
---------------------

{{ dynatrace_environment_token }}
