
apiVersion: v1
kind: ConfigMap
metadata:
  name: easytrade-livedebugger
  namespace: {{ easytrade_namespace }}
data:
  DT_LIVEDEBUGGER_COMMIT: "{{ easytrade_release_version }}"
  DT_LIVEDEBUGGER_REMOTE_ORIGIN: "{{ easytrade_remote_origin }}"
