apiVersion: v1
kind: Endpoints
metadata:
  name: code-server
  namespace: {{ vscode_namespace }}
subsets:
  - addresses:
      - ip: {{ private_ip }}
    ports:
      - name: http
        port: {{ local_ingress_port }}
        protocol: TCP
