{
    "workbench.colorTheme": "{{ vscode_default_theme | default('Default Dark+') }}",
    "security.workspace.trust.enabled": false,
    "security.workspace.trust.banner": "never",
    "security.workspace.trust.emptyWindow": false
}