apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: smartfreight-ingress
  namespace: {{ smartfreight_namespace }}
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  ingressClassName: traefik
  rules:
    - host: smartfreight.{{ ingress_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 80
