apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: easytrade-ingress
  namespace: easytrade
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  ingressClassName: traefik
  rules:
    - host: easytrade.{{ ingress_domain }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontendreverseproxy-easytrade
                port:
                  number: 80
