apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: unguard-ingress
  namespace: {{ unguard_namespace }}
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  ingressClassName: traefik
  rules:
    - host: unguard.{{ ingress_domain }}
      http:
        paths:
          - path: /ui
            pathType: Prefix
            backend:
              service:
                name: unguard-frontend
                port:
                  number: 80
          - path: /ad-service
            pathType: Prefix
            backend:
              service:
                name: unguard-ad-service
                port:
                  number: 80
